*.py text eol=lf
*.pyw text eol=lf
*.ts text eol=lf
*.tsx text eol=lf
*.sh text eol=lf
*.bash text eol=lf
*.c text eol=lf
*.h text eol=lf
*.cc text eol=lf
*.hh text eol=lf
*.cpp text eol=lf
*.hpp text eol=lf
*.cxx text eol=lf
*.hxx text eol=lf
*.bat text eol=crlf
*.cmd text eol=crlf
*.ps1 text eol=crlf
*.psm1 text eol=crlf
*.psd1 text eol=crlf
